@model Tuple<List<Lab_2_MVC.Models.Entities.Students>,List<Lab_2_MVC.Models.Entities.Teachers>>

<h1>Search</h1>

@using (Html.BeginForm("List", "Searches", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>

}

<a class="btn btn-primary" asp-controller="Teachers" asp-action="CreateCourse">Create Course</a>
<a class="btn btn-primary" asp-controller="Teachers" asp-action="EditCourse">Edit Course</a>
<a class="btn btn-primary" asp-controller="Teachers" asp-action="CreateClass">Create Class</a>
<a class="btn btn-primary" asp-controller="Teachers" asp-action="EditClass">Edit Class</a>

<h2>Students</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Course</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Item1)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Name</td>
                <td>@i.Gender</td>
                <td>@i.Classes.Name</td>
                <td>@i.Courses.Name</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Students" asp-action="Edit" asp-route-id="@i.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    </table>
    <h2>Teachers</h2>
    <table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Course</th>
            <th>Class</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Item2)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.Name</td>
                <td>@teacher.Gender</td>
                <td>@teacher.Email</td>
                <td>@teacher.PhoneNumber</td>
                <td>@teacher.Courses.Name</td>
                <td>@teacher.Classes.Name</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Teachers" asp-action="Edit" asp-route-id="@teacher.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
